body {
  padding-top: 50px;
  position: absolute;
  background-color: green;
  background-image: url('../img/background.jpg');
  color: white;
  text-align: center;
}

.game-container {
  position: relative;
  margin-left: 500px;
  width: 100%;
}

.card {
  float: left;
  border: solid 1px black;
  width: auto;
  border-radius: 5px;
  height: auto;
  margin-right: 20px;
}

.covered {
  background-color: black;
  background-image: url('..img/cards/card-back.png');
}

.hand {
  overflow: auto;
  margin-bottom: 50px;
  text-align: center;
}

.hit-button,
.stand-button {
  font-size: 18px;
}

#result {
  display: inline-block;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
}