body {
  padding-top: 50px;
  background-color: green;
  background-image: url('../img/background.jpg');
  color: white;
  text-align: center;
}

.game-container {
    position: absolute;
    width: 800px;
    height: 800px;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.card {
  float: left;
  border: solid 1px black;
  width: auto;
  border-radius: 5px;
  height: auto;
  margin-right: 20px;
}

.covered {
  background-color: black;
  background-image: url('..img/cards/card-back.png');
}

.hand {
  overflow: auto;
  margin-bottom: 50px;
  text-align: center;
}

button {
  font-size: 18px;
  margin-right: 15px;
}

#result {
  display: inline-block;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
}